* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  --primary: #dc4f72;
  --secondary: #0d5fa8;
  --title-color: #2c3038;
  --text-color: #5a5a5a;
  --light-bg-color: #f7f9fc;
  --card-curve: 6px;
  --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  --transformY: translateY(-0.5rem);
}
/* Tannguyen */
/*

*/
/* --------------------------------------------------------------------- */
/* Nguyễn Văn Tân */
/* Start About */
.about {
  background-color: var(--light-bg-color);
}
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 5px;
}
.about h3 {
  font-size: 35px;
  line-height: 40px;
  color: var(--title-color);
  font-weight: 700;
}
.about p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 24px;
}
.theme-button {
  transition: 0.3s;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  padding: 0px 30px;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.btn-primary:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}
.about .img-curve {
  border-radius: var(--card-curve);
  transition: 0.3s;
}
.about .img-curve:hover {
  transform: var(--transformY);
}
/* End About */
/* Start Statuses */
.status {
  background-color: var(--light-bg-color);
}
.status .status_info {
  background-color: #fff;
  padding: 2rem;
  border-radius: var(--card-curve);
  box-shadow: var(--card-box-shadow);
  transition: 0.3s;
  border: 1px solid #eee;
}
.status .status_info h4 {
  font-size: 16px;
  line-height: 24.5px;
  text-transform: capitalize;
  color: var(--title-color);
  font-weight: 700;
}
.status .status_info p {
  color: var(--text-color);
}
.status_info:hover {
  box-shadow: var(--card-hover-box-shadow);
  transition: 0.3s;
}
.status_info p.counter {
  font-size: 50px;
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}
/* Start Commit */
.img_bg {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}
.commit_content {
  max-width: 550px;
}
.commit_content h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.commit_content {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}
.commit_content .btn-light {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.commit_content .btn-light:hover {
  color: #212529;
  background-color: #dae0e5;
  border-color: #dae0e5;
}
.commit_header h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.commit_header p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}
/* End Commit */
/* Start Solution */
.solution_header {
  max-width: 750px;
}
.solution_header h3 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.solution_header p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.solution_cards {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in;
  /* display: block; */
  height: 100%;
  /* background: #fff; */
  border: 1px solid #eee;
  border-top-left-radius: var(--card-curve);
  border-top-right-radius: var(--card-curve);
}
.solution_cards:hover {
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY);
}
.solution_cards .cards_img {
  position: relative;
  overflow: hidden;
  border-top-left-radius: var(--card-curve);
  border-top-right-radius: var(--card-curve);
}
.cards_img p {
  position: absolute;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  background: var(--primary);
  padding: 15px;
  right: 0px;
  top: 0px;
}
.solution_info {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.solution_tag_label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
.solution_info h4 a {
  font-size: 22px;
  line-height: 27px;
  color: var(--title-color);
  display: block;
  font-weight: 600;
}
.solution_cards:hover .solution_info h4 a {
  text-decoration: none;
  color: var(--primary);
}
.bg-red {
  background: rgba(238, 97, 120, 0.2);
  color: var(--primary);
}
.bg-green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.bg-blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
.solution_info p {
  font-size: 16px;
  line-height: 24.5px;
  color: var(--text-color);
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.btn_solution {
  color: var(--primary);
  transition: 0.3s;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
.btn_solution:hover {
  transition: 0.3s ease-in-out;
  color: var(--primary);
}
.solution_cards:hover .btn_solution span {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0px;
  position: absolute;
  right: -13px;
  top: 7.5px;
  transition: 0.3s;
}

/* End Solution */
/* --------------------------------------------------------------------- */
/* Nguyễn Thành Trung */
/* 



*/
